@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap);

:root {
    --card-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 29%);
    --pink-background-color: #eb5a6e;
    --purple-background-color: #82abfa;
    --white-color: #fff;
    --box-shadow-card: 0 35px 20px #777;
    --button-color:#fff;
    --button-background:#6AD185;
    --border-checkbox:#C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 20px;
}

#logo {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20px;
    height: 7rem;
}

img {
    width: 52px;
    height: 57px;
}

h1 {
    margin: 5px;
    padding: 5px;
    font-family: "PT Serif", serif;
}

#formId {
    line-height: 2rem;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    align-items: center;
    display: grid;
    margin: 20px;
    padding: 30px;
    box-shadow: 2px 2px 20px 0px dimgrey;
}

#listWrapper {
    width: 1200px;
    margin: 20px auto;
    columns: 3;
    column-gap: 50px;
}

/* #listWrapper div{
  width: 100%;
  margin:0 0 20px;
  padding:10px;
  background-color:#f4f4f4;
    overflow:hidden;
    break-inside: avoid;
   background-color: #EB5A6E;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%)
  
} */

.tagName {
    font-size: 19px;
    float: right;
    font-weight: bold;
}

.content {
    width: 100%;
    height: 150px;
    text-align: end;
    position: absolute;
    z-index: 1;
}

section.quotes__card:nth-child(8),
section.author__card:nth-child(7) {
    height: 400px;
}
section.quotes__card:nth-child(9),
section.author__card:nth-child(8) {
    height: 400px;
}
section.quotes__card:nth-child(10),
section.author__card:nth-child(9) {
    height: 400px;
}
section.quotes__card:nth-child(11),
section.author__card:nth-child(10) {
    height: 400px;
}
section.quotes__card:nth-child(12),
section.author__card:nth-child(11) {
    height: 400px;
}
section.quotes__card:nth-child(13),
section.author__card:nth-child(10) {
    height: 400px;
}
section.quotes__card:nth-child(20n + 1),
section.author__card:nth-child(1) {
    height: 270px;
}
section.quotes__card:nth-child(20n + 2),
section.author__card:nth-child(2) {
    height: 300px;
}
section.author__card:nth-child(14) {
    height: 300px;
}

.authorName {
    float: right;
    top: -3px;
    position: absolute;
    z-index: 1;
}

.random__icon {
    width: 1.2em;
    height: 1.2em;
}

.random__quotes-button,
.random__authors-button {
    display: flex;
    align-items: center;
}

section.randomFilters {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
}

.wrapper__container {
    padding: 20px;
}

section.quotes__card,
.author__card {
    position: relative;
    z-index: 2;
    display: grid;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background-color: var(--white-color);
    overflow: hidden;
    break-inside: avoid;
    box-shadow: var(--box-shadow-card);
}

span.tags__displayed,
.authorName__displayed {
    text-align: end;
    font-size: 1.5rem;
    font-weight: bold;
}

img.quotes__image,
.author__image {
    width: 1.5em;
    height: 1.5em;
}

.quotes__content-image,
.author__content-image {
    display: flex;
    justify-content: space-around;
    padding: 19px;
    line-height: 1em;
}

span.authors__displayed,
.link__displayed {
    text-align: end;
    padding-bottom: 23px;
}

.quotes__card::before,
.author__card::before {
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    clip-path: var(--card-clip-path);
    background-color: var(--purple-background-color);
    z-index: -1;
    position: absolute;
}

.quotes__card:nth-child(even)::before,
.author__card:nth-child(even)::before {
    background: var(--pink-background-color);
}

.information__link {
    display: flex;
    justify-content: end;
}
img.wiki__image {
    width: 2rem;
    height: 2rem;
}

a.link__displayed {
    text-align: center;
    padding: 15px;
}

button#quotes__button,
#author__button {
    color: black;
    background: none;
    border: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.random__quotations {
    display: inline-flex;
    justify-content: center;
    align-items: end;
    background-color: var(--pink-background-color);
}

.random__authors {
    display: inline-flex;
    text-align: center;
    background-color: var(--purple-background-color);
}

button#submit__button {
    display: inline-block;
    width: 9rem;
    height: 32px;
    font-weight: bold;
    text-align: center;
    background-color: var(--button-background);
    color:var(--button-color);
    border:none;
}

.limitAndName {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}

div#checkBoxs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.3em;
    border: 1px solid var(--border-checkbox);
    margin-bottom: 1em;
}

input.name__placeholder {
    margin-left: 2em;
}

.limit__placeholder ,
.name__placeholder{
    padding: 0.4em;
}

.select__input {
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.select__input option :disabled{
 color:var(--border-checkbox);
}

submit__wrapper {
    display: flex;
    justify-content: flex-end;
}